.App {
  text-align: left;
}

.App-header {
  background-color: #2b3241;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 4vmin);
  color: rgb(178, 3, 247);
}

.Body {
  background-color: #2850a8;
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.entryBox {
  height: 5vh;
  width:25vw;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(7, 7, 7);
}

.addButton {
  height: 6vh;
  width:5vw;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: flex-start;
  font-size: calc(10px +.5vmin);
  color: rgb(7, 7, 7);
}

.Footer {
  background-color: #2b3241;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(178, 3, 247);
}